@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-section: #fff1d9;
  --color-btn-green: #378d4b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .header {
    @apply shadow-xl p-3 bg-section fixed top-0 w-full z-10;
  }

  .main {
    @apply flex flex-col space-y-5 mb-auto mt-40 pb-5 px-[4%] sm:px-[10%];
  }

  .footer {
    @apply bg-section text-center text-sm py-4;
  }

  .btn {
    @apply bg-btn-green p-3 rounded-md hover:opacity-75 hover:cursor-pointer;
  }
}
